@import "tailwindcss";

body{
  background-color: #F8FAFC;
}

.backgroundAmber{
  background-color: #D4A22A;
}

.backgroundAmberHover:hover {
  background-color: #D4A22A;
  color: white;
}

.borderAmber{
  border-color: #D4A22A;
}
