@import "tailwindcss";

body{
  background-color: #F8FAFC;
  margin: 0;
  padding: 0;
}

.backgroundAmber{
  background-color: #D4A22A;
}

.backgroundAmberHover:hover {
  background-color: #D4A22A;
  color: white;
}

.borderAmber{
  border-color: #D4A22A;
}

@layer base {
  button:not(:disabled) {
    cursor: pointer;
  }
}
